<!-- Include the sidebar -->
<div th:replace="~{admin/includes/sidebar.html}"></div>
<div class="page-container">
    <form th:action="@{/admin/user/save}" th:object="${user}" method="post">
        <div class="profile-card">
            <div class="profile-photo">
                <img th:src="@{|${user.profilePicture}|}" alt="Profile Photo">
            </div>

            <div class="profile-details">
                <div class="detail">
                    <label for="user-id">User ID:</label>
                    <input type="text" id="user-id" th:field="*{id}" readonly>
                </div>

                <div class="detail">
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" th:field="*{firstName}" required minlength="2" maxlength="20">
                </div>

                <div class="detail">
                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" th:field="*{lastName}" required minlength="2" maxlength="20">
                </div>

                <div class="detail">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" required>
                </div>

                <div class="detail">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" th:field="*{phoneNumber}">
                </div>

                <div class="detail">
                    <span>Roles:</span>
                    <div style="margin-left: 120px">
                        <div th:each="role: ${listRoles}">
                            <input type="checkbox" th:field="*{roles}" th:value="${role.id}">
                            <span th:for="${role.id}" th:text="${role.name}"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="save-button">Update</button>
            </div>
        </div>
    </form>

    <div class="project-card">
        <table class="project-table">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Task Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date Created</th>
                <th>Date Due</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry : ${projectBugsMap}">
                <tr th:class="${'project ' + 'project-' + entry.key.id}">
                    <td th:rowspan="${#lists.size(entry.value) + 1}" th:text="${entry.key.name}"></td>
                </tr>
                <th:block th:each="bug : ${entry.value}">
                    <tr>
                        <td th:text="${bug.title}"></td>
                        <td class="" th:text="${bug.status}" th:classappend="${'status-' + bug.status.toLowerCase()}"></td>
                        <td class="" th:text="${bug.priority}" th:classappend="${'priority-' + bug.priority.toLowerCase()}"></td>
                        <td th:text="${bug.formattedCreated}"></td>
                        <td>
                            <th:block th:if="${bug.due == null}">No due date</th:block>
                            <th:block th:unless="${bug.due == null}" th:text="${bug.formattedDue}"></th:block>
                        </td>
                    </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div class="card bugs-table-card" style="background-color: #f9f9f9;">
    <div class="title">
        <i class="bx bx-comment"></i>
        Comments
    </div>
    <div class="bug-table">

        <div class="bug-table-headings">
            <div class="bug-heading">BUG</div>
            <div class="bug-heading">COMMENT DATE</div>
            <div class="bug-heading">Comment</div>
        </div>

        <div th:each="comment : ${userComments}" class="bug-row">
            <div class="bug-cell" th:text="${comment.bug.title}"></div>
            <div class="bug-cell" th:text="${comment.formatCreatedAt()}"></div>
            <div class="bug-cell" th:text="${comment.content}"></div>
        </div>
    </div>
</div>



<!-- Include the footer -->
<div th:replace="~{admin/includes/footer.html}"></div>
