<!-- Include the sidebar -->
<div th:replace="~{admin/includes/sidebar.html}"></div>

    <div class="search-container">
        <div class="search-bar">
            <input type="text" id="user-search" placeholder="Search by Name">
            <select id="role-filter">
                <option value="">All Roles</option>
                <option value="Admin">Admin</option>
                <option value="Project Manager">Project Manager</option>
                <option value="Developer">Developer</option>
                <option value="User">User</option>
            </select>
        </div>
    </div>

    <div class="custom-table">
        <div class="custom-table-headings">
            <div class="custom-heading">USER ID</div>
            <div class="custom-heading">FIRST NAME</div>
            <div class="custom-heading">LAST NAME</div>
            <div class="custom-heading">PICTURE</div>
            <div class="custom-heading">E-MAIL</div>
            <div class="custom-heading">ROLES</div>
            <div class="custom-heading">EDIT</div>
        </div>
        <div class="custom-row" th:each="user : ${users}">
            <div class="custom-cell" th:text="${user.id}"></div>
            <div class="custom-cell" th:text="${user.firstName}"></div>
            <div class="custom-cell" th:text="${user.lastName}"></div>
            <div class="custom-cell">
                <img class="profile-picture" th:src="@{|${user.profilePicture}|}">
            </div>
            <div class="custom-cell" th:text="${user.email}"></div>
            <div class="custom-cell" th:text="${user.roles}"></div>
            <div class="custom-cell">
                <a class="btn btn-info" th:href="@{/admin/user/edit/{id}(id=${user.id})}">Edit</a>
            </div>
        </div>
    </div>


<!-- Include the footer -->
<div th:replace="~{admin/includes/footer.html}"></div>