<!-- Include the sidebar -->
<div th:replace="~{admin/includes/sidebar.html}"></div>

<!-- Project Details Card -->
<div class="card project-detail-card">
    <div class="title">
        <i class="bx bx-folder"></i>
        <span class="title-text" th:text="${pageTitle}"></span>
    </div>
    <div class="project-details">
        <div class="project-description" th:text="${project.description}"></div>
        <div class="project-info">
            <div class="project-dates">
                <div th:text="'Start Date: ' + ${project.formattedStart}"></div>
                <div th:text="'End Date: ' + ${project.formattedEnd}"></div>
            </div>
            <div class="project-status">
                <span>Status:</span>
                <span class="status-badge" th:text="${project.status}" th:classappend="${'status-' + project.status.toLowerCase()}"></span>
            </div>

            <div class="project-priority">
                <span>Priority:</span>
                <span class="priority-badge" th:text="${project.priority}" th:classappend="${'priority-' + project.priority.toLowerCase()}"></span>
            </div>

        </div>
    </div>
</div>

<!-- Project Manager and Associated Developers Card -->
<div class="card associated-developers-card">
    <div class="title">
        <i class="bx bx-user"></i>
        Project Manager
    </div>
    <div class="manager-details">
        <div class="manager-name" th:text="${project.projectManager}"></div>
        <img class="profile-picture" th:src="@{|${project.projectManager.profilePicture}|}" th:alt="${project.projectManager}">
    </div>
    <div class="title">
        <i class="bx bx-group"></i>
        Associated Developers
    </div>
    <ul class="developer-list">
        <li th:each="developer : ${project.getAssociatedUsers()}">
            <div class="developer-details">
                <div class="developer-name" th:text="${developer.toString()}"></div>
                <img class="profile-picture" th:src="@{|${developer.profilePicture}|}" th:alt="${developer}">
            </div>
        </li>
    </ul>
</div>


<!-- Bugs Table Card -->
<div class="card bugs-table-card">
    <div class="title">
        <i class="bx bx-bug"></i>
        Bugs
    </div>
    <!-- bug table -->
    <div class="bug-table">
        <div class="bug-table-headings">
            <div class="bug-heading">BUG</div>
            <div class="bug-heading">STATUS</div>
            <div class="bug-heading">PRIORITY</div>
            <div class="bug-heading">CREATED</div>
            <div class="bug-heading">DUE</div>
            <div class="bug-heading">REPORTER</div>
            <div class="bug-heading">Assigned User</div>
            <div class="bug-heading">Actions</div>
        </div>
        <div class="bug-row" th:each="bug : ${project.bugs}">
            <div class="bug-cell" th:text="${bug.title}"></div>
            <div class="bug-cell status-tag status" style="margin-left: 0px" th:text="${bug.status}"></div>
            <div class="bug-cell priority-tag priority" style="margin-left: 0px" th:text="${bug.priority}"></div>
            <div class="bug-cell" th:text="${bug.formattedCreated}"></div>
            <div class="bug-cell">
                <!-- Check if bug.due is null, if true, display "No due date," else display the formatted due date -->
                <th:block th:if="${bug.due == null}">No due date</th:block>
                <th:block th:unless="${bug.due == null}" th:text="${bug.formattedDue}"></th:block>
            </div>

            <div class="bug-cell">
                <img class="profile-picture" th:src="@{|${bug.postedBy.profilePicture}|}" th:alt="${bug.postedBy}">
            </div>

            <div class="bug-cell">
                <!-- Check if bug.assignedUser is null, if true, display "Unassigned," else display the profile picture -->
                <th:block th:if="${bug.assignedUser == null}">Unassigned</th:block>
                <th:block th:unless="${bug.assignedUser == null}">
                    <img class="profile-picture" th:src="@{|${bug.assignedUser.profilePicture}|}" th:alt="${bug.assignedUser}">
                </th:block>
            </div>

            <div class="bug-cell">
                <a th:href="@{/admin/bug/view/{id}(id=${bug.id})}">
                    <i class='bx bx-show'></i>
                </a>

                <a th:href="@{/admin/bug/edit/{id}(id=${bug.id})}">
                    <i class='bx bx-edit'></i>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Include the footer -->
<div th:replace="~{admin/includes/footer.html}"></div>