<!DOCTYPE html>
<html class="disable-transitions" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script th:inline="javascript">
        var csrfToken = /*[[${_csrf.token}]]*/ '';
    </script>
</head>
<body>

<!---Sidebar-->
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="bx bx-bug-alt"></i>
            <div class="logo_name">Bug Tracker</div>
        </div>
    </div>
    <ul class="nav_list">
        <li>
            <a th:href="@{/admin}" href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a th:href="@{/admin/report}">
                <i class='bx bx-bar-chart-alt'></i>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a th:href="@{/admin/project}" href="#">
                <i class='bx bx-folder'></i>
                <span class="links_name">Projects</span>
            </a>
            <span class="tooltip">Projects</span>
        </li>
        <li>
            <a th:href="@{/admin/user}" href="#">
                <i class='bx bx-user'></i>
                <span class="links_name">Users</span>
            </a>
            <span class="tooltip">Users</span>
        </li>
        <li>
            <a th:href="@{/}">
                <i class='bx bx-home'></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
    </ul>
    <div class="sidebar_btn">
        <i class="bx bx-chevron-left" id="btn"></i>
    </div>
</div>

<!---Home Content-->
<section class="home_content">
    <div class="heading-section">
        <span th:text="${pageTitle}"></span>
        <div class="icons-section">
            <a th:href="@{/admin/bug/submit}" class="submit-bug-button">
                Submit Bug
            </a>
            <a th:href="@{/admin/profile/notifications}" class="notification-icon">
                <i class="bx bx-bell"></i>
                <span class="notification-count" th:text="${notificationCount}"></span>
            </a>
            <a th:href="@{/admin/profile}" class="profile-icon">
                <i class="bx bx-user"></i>
            </a>
        </div>
    </div>
