/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #fff;
    background: #161427;
}

/* Sidebar Styles */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 5px 15px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    transition: all 0.5s ease;
    opacity: 0;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin: 5px 0;
}

.sidebar ul li i {
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li a {
    display: flex;
    color: #fff;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    color: #fff;
    background: rgb(36, 100, 218);
}

.sidebar .links_name {
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.sidebar.active .links_name {
    opacity: 1;
    transition: 0s;
    pointer-events: auto;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 124px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 35px;
    width: 120px;
    background: rgb(36, 100, 218);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #fff;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

/* !---- Content Styles ----! */

.home_content {
    padding-left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content {
    z-index: 100;
    padding-left: 240px;
}
.sidebar .logout-form {
    display: none;
}

.sidebar ul li a:hover + .logout-form {
    display: block;
}

.sidebar ul li .logout-form {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

/* HEADING Styles */
.heading-section {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px; /* Add margin-left to match the distance from the sidebar */
    transition: all 0.5s ease;
    justify-content: space-between; /* Add this line to align the icons to the right */
}

.icons-section {
    display: flex;
    align-items: center;
}

.icons-section .notification-icon,
.icons-section .profile-icon {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

.submit-bug-button {
    display: inline-block;
    background-color: #c43425;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 8px;
    font-weight: normal;
    text-transform: none;
}

.submit-bug-button:hover {
    background-color: #da4737;
}

/* CARD Styles */
.bug-cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 10px; /* Add margin-left: 0 initially */
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content .bug-cards-section {
    margin-left: 10px; /* Adjust the expanded margin-left here to match the expanded sidebar width */
}

.bug-card {
    width: 180px;
    height: 150px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content .bug-card {
    width: 180px; /* Adjust the expanded width here to match the expanded sidebar width */
}

.bug-card .number {
    font-size: 32px;
    font-weight: bold;
}

.bug-card .title {
    font-size: 16px;
    margin-top: 10px;
}

.section-line {
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 20px; /* Adjust the margin-left to match the distance from the sidebar */
}

/* BUG TABLE CSS */

.bug-table {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.bug-table-headings {
    display: flex;
    align-items: center;
    height: 50px;
}

.bug-heading {
    flex: 1;
    padding: 5px;
}

.project-title {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.project-title i {
    margin-right: 5px;
}

.project-row {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.project-row:hover {
    background-color: #f1f1f1;
}

.bug-row {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    transition: all 0.5s ease;
}

.bug-row:hover {
    background-color: #f1f1f1;
}

.bug-table-content {
    display: none;
}

.bug-cell {
    flex: 1;
    padding: 5px;
    display: flex; /* Add this property to make the child elements display horizontally */
    align-items: center; /* Center the child elements vertically within the bug-cell */
}

.profile-picture {
    width: 50px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

/* Style the <a> tags */
.bug-cell a {
    text-decoration: none;
    color: #007bff; /* Change the color as per your design */
    margin: 0 5px;
    font-size: 16px; /* Adjust the font size as per your design */
}

/* Style the buttons to match the <a> tags */
.bug-cell button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px; /* Adjust the font size as per your design */
    color: #007bff; /* Change the color as per your design */
}

/* Remove button focus styles */
.bug-cell button:focus {
    outline: none;
}

/* GENERAL TABLE CSS */

.custom-table {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.custom-table-headings {
    display: flex;
    align-items: center;
    height: 50px;
}

.custom-heading {
    flex: 1;
    padding: 5px;
    white-space: nowrap; /* Prevent heading text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
}

.custom-row {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    transition: all 0.5s ease;
}

.custom-row:hover {
    background-color: #f1f1f1;
}

.custom-cell {
    flex: 1;
    padding: 5px;
    white-space: nowrap; /* Prevent cell text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
}

.search-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


#user-search,
#role-filter {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

/* CSS for the bug-filters container */
.bug-filters {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/* CSS for the search bar and filter elements within the bug-filters container */
.bug-search {
    display: flex;
    align-items: center;
}

/* Style the input and select elements in the bug-filters */
#project-search,
#status-filter,
#priority-filter {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

/* Status and Priority TAGS */

.status-tag {
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.status-new {
    background-color: #a358df;
    color: #fef8f0;
}

.status-in-progress {
    background-color: #fdab3d;
    color: #fef8f0;
}

.status-resolved {
    background-color: #00cc6f;
    color: #fef8f0;
}

.status-completed {
    background-color: #00cc6f;
    color: #fef8f0;
}

.status-closed {
    background-color: #d83a52;
    color: #fef8f0;
}


/* Priority classes */
.priority-tag {
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.priority-low {
    background-color: #5bc1f5;
    color: #fef8f0;
}

.priority-medium {
    background-color: #569ec3;
    color: #fef8f0;
}

.priority-high {
    background-color: #225091;
    color: #fef8f0;
}


/* PROFILE SECTION STYLES */

/* PAGE CONTAINER */
.page-container {
    display: flex;
    justify-content: space-between;
}

/* PROFILE CARD */
.profile-card {
    width: 400px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #fff; /* Add this line */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add this line for a subtle shadow */
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.detail {
    display: flex;
    align-items: center;
}

.detail label {
    flex-basis: 120px;
}

.detail input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.save-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #111738;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.save-button:hover {
    background-color: #19215d;
    transform: scale(1.05);
}

/* PROJECT CARD */
.project-card {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-right: 20px;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.project-table th, .project-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

.project-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.project-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* PROJECT SECTION STYLES */

.button-section {
    margin-top: 20px;
    margin-left: 20px;
}
.button-link {
    display: inline-block;
    background-color: #161427;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #19215d;
}

/* FORM CSS */

#project-form .form-section {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#project-form .form-group {
    margin-bottom: 20px;
}

#project-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#project-form input[type="text"],
#project-form textarea,
#project-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#project-form input[type="text"]:focus,
#project-form textarea:focus,
#project-form select:focus {
    border-color: rgb(36, 100, 218);
    outline: none;
}

#project-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #111738;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#project-form select[multiple] option:checked {
    background-color: #ccc; /* Define a background color for the selected option */
    color: #000; /* Define a text color for the selected option */
}


#project-form button[type="submit"]:hover {
    background-color: #19215d;
}

/* Project Details Card Styles */
/* Shared Card Styles */
.card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title i {
    font-size: 28px;
    margin-right: 10px;
    color: #014fa2;
}

.project-description {
    margin-bottom: 15px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-dates, .project-status, .project-priority {
    margin-bottom: 10px;
}

.project-status,
.project-priority {
    display: flex;
    align-items: center;
    border-radius: 50px; /* Adjust the radius to control the roundness */
}

.status-badge,
.priority-badge {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fef8f0;
}

/* Project Details Card Styles */

/* Associated Developers Card Styles */
.associated-developers-card .manager-name {
    padding-left: 20px;
    padding-bottom: 5px;
    margin-right: 5px;
}
.associated-developers-card  .developer-list {
    list-style: none;
    padding-left: 20px;
}
.associated-developers-card .developer-name {
    margin-right: 5px;
}

.manager-details, .developer-details {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 5px;
}

/* Bug screenshots */
.screenshots-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screenshots-container img {
    max-width: 230px;
    margin-right: 10px;
    object-fit: contain;
}


/* Comment Section */


.comment-section {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.add-comment-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.add-comment-textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: vertical;
}

.post-comment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-comment-button:hover {
    background-color: #0056b3;
}

.comments {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    border-radius: 50%;
    margin-right: 10px;
}


.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
}

.post-date {
    color: #666;
}

.comment-content {
    margin-bottom: 10px;
}


/* NOTIFICATION PAGE STYLES */

.notification_page {
    padding: 20px;
}

.notification_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.notification_info {
    display: flex;
    flex-direction: column;
}

.notification_message {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.notification_timestamp {
    font-size: 14px;
    color: #777;
}

.notification_actions {
    display: flex;
    align-items: center;
}

.notification_read {
    font-size: 20px;
    color: #2ecc71;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.notification_read:hover {
    color: #27ae60;
}

.read_tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    width: auto;
    white-space: nowrap;
}

.notification_read:hover .read_tooltip {
    visibility: visible;
    opacity: 1;
}

/* REPORT PAGE STYLES */

.report-cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.report-card {
    height: 100px; /* Adjust the height as needed */
    margin-bottom: 20px; /* Equal gap between cards */
    transition: all 0.5s ease;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.small-card {
    width: calc(25% - 10px); /* 4 cards in a row with gaps */
}

.large-card {
    width: calc(50% - 10px); /* 2 large cards in a row with gaps */
    height: auto;
}

.medium-card {
    width: calc(25% - 10px); /* 2 medium cards in a row with gaps */
    height: auto;
}

.report-card:hover {
    transform: scale(1.05);
}

.report-count-content {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.report-number {
    font-size: 32px;
    font-weight: bold;
}

.report-count-title {
    font-size: 16px;
}

.report-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.positive-change {
    color: #17ce17;
}

.negative-change {
    color: #f33d3d;
}