<!-- Include the sidebar -->
<div th:replace="~{admin/includes/sidebar.html}"></div>

<div class="card project-detail-card">
    <div class="title">
        <i class="bx bx-folder"></i>
        <span th:text="${pageTitle}"></span>
    </div>

    <div class="project-description" th:text="'Project: ' + ${bug.project.name}"></div>

    <div class="project-dates">
        <div th:text="'Posted: ' + ${bug.formattedCreated}"></div>
        <div th:text="'Due: ' + ${bug.formattedDue}"></div>
    </div>

    <div class="project-status">
        <span>Status:</span>
        <span class="status-badge" th:text="${bug.status}" th:classappend="${'status-' + bug.status.toLowerCase()}"></span>
    </div>

    <div class="project-priority">
        <span>Priority:</span>
        <span class="priority-badge" th:text="${bug.priority}" th:classappend="${'priority-' + bug.priority.toLowerCase()}"></span>
    </div>

    <div class="manager-details">
        <div class="manager-name" th:text="'Posted by: ' + ${bug.postedBy}"></div>
        <img class="profile-picture" th:src="@{|${bug.postedBy.profilePicture}|}" th:alt="${bug.postedBy}">
    </div>
</div>

<!-- Project Manager and Associated Developers Card -->
<div class="card associated-developers-card">
    <!-- Add project manager and associated developers here -->
    <div class="title">
        <i class="bx bx-user"></i>
        Project Manager
    </div>
    <div class="manager-details">
        <div class="manager-name" th:text="${bug.project.projectManager}"></div>
        <img class="profile-picture" th:src="@{|${bug.project.projectManager.profilePicture}|}" th:alt="${bug.project.projectManager}">
    </div>
    <div class="title">
        <i class="bx bx-group"></i>
        Assigned Developer
    </div>
    <div class="manager-details">
        <div class="manager-name" th:text="${bug.assignedUser}"></div>
        <img class="profile-picture" th:src="@{|${bug.assignedUser.profilePicture}|}" th:alt="${bug.assignedUser}">
    </div>
</div>

<div class="card">
    <div class="title">
        <i class="bx bx-detail"></i>
        Description
    </div>
    <div th:text="${bug.description}"></div>
</div>

<div class="card">
    <div class="title">
        <i class="bx bx-list-ol"></i>
        Steps To Reproduce
    </div>
    <div th:text="${bug.stepsToReproduce}"></div>
</div>

<div class="card">
    <div class="title">
        <i class="bx bx-screenshot"></i>
        Screenshots
    </div>
    <div class="screenshots-container">
        <th:block th:each="bugImage : ${bug.bugImageEntities}">
            <img th:src="@{|${bugImage.imageName}|}" th:alt="${'Screenshot ' + bugImage.id}">
        </th:block>
    </div>
</div>

<div class="section-line"></div>

<div class="comment-section">
    <div class="add-comment-box">
        <form id="comment-form" th:action="@{/admin/bug/addcomment}" method="post">
            <input type="hidden" name="bugId" th:value="${bug.id}" />
            <textarea id="commentContent" class="add-comment-textarea" name="commentContent" placeholder="Enter your comment"></textarea>
            <button type="submit" class="post-comment-button">Post Comment</button>
        </form>
    </div>

    <div class="comments">
        <div th:each="comment : ${comments}" class="comment">
            <div class="user-profile">
                <img class="profile-image" th:src="@{|${comment.user.profilePicture}|}">
                <div class="user-info">
                    <div class="user-name" th:text="${comment.user}"></div>
                    <div class="post-date" th:text="'Submitted on ' + ${#dates.format(comment.createdAt, 'dd/MM/yyyy')} + ' at ' + ${#dates.format(comment.createdAt, 'hh:mm a')}"></div>
                </div>
            </div>
            <div class="comment-content" th:text="${comment.content}"></div>
    </div>
    </div>
</div>

<!-- Include the footer -->
<div th:replace="~{admin/includes/footer.html}"></div>